.detail-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background-color:rgb(134, 127, 127);
  border-radius: 1rem;
  border: 8px solid #d1a40f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-container img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  max-height: 400px;
}

h2, h3 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin-top: 1rem;
}

button {
  display: inline-block;
  background-color: #d4af37;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;

  &:hover {
    background-color: #971f47;
  }
}
.house-logo {
  width: 80px;
  height: auto;
  margin-top: 10px;
}
