.filters-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  margin-top: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

input[type="search"], select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: #b2762d;  
  }
}

select {
  background-color: #f9f9f9;
  margin-bottom:20px ;
}

button {
  padding: 10px 20px;
  background-color: #b2762d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #d2af5f; 
  }
}
.radioGroup {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 32rem;
  flex-wrap: wrap; 
  margin-bottom: 2rem;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  input[type="radio"] {
    accent-color: #ffcc00;
    cursor: pointer;
    transform: scale(1.2);
  }

  span {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
  }
}
