.character-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 0;

  li {
     background-color:rgb(134, 127, 127);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border: 8px solid #d1a40f;

    &:hover {
      transform: scale(1.05);
    }

    img {
      max-width: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }
}

.no-results {
  text-align: center;
  margin-top: 2rem;

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  button {
    background-color:  #d4af37;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color:  #d4af37;
    }
  }
}
